
*{
    margin:10px;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border:1px solid black;

}
.nav-items>ul{
    display:flex;
    list-style: none;
}
.nav-items>ul>li{
    padding:15px;

}
.logo{
    width:75px;
}

.card{
    width:200px;
    border:1px solid black;
    padding:10px;
    min-height:500px;
    box-shadow: 10px 10px 5px rgb(243, 170, 102);

}
.card>img{
    width:100%;
    margin:0px;   
}

.restaurant-list{
    display:flex;
    flex-wrap: wrap;
}

.shimmer-card{
   width:200px;
   height:200px;
   background:lightgray;
   margin:10px;
}
Link{
    text-decoration:none;
}